.tizer
    .tizer__left
        .tizer__inner 
            h1.tizer__title 
                p ПОСТРОЙТЕ СВОЕ 
                p БУДУЩЕЕ 
                p В «РЭНЕРА»
            .tizer__video
                img(src="../../../assets/svg/start-video.svg" alt="start video")
                .tizer__video-start Смотреть видео
    .tizer__right
        img(src="../../../assets/images/tizer.png" alt="tizer")