.tizer
    .tizer__left
        .tizer__inner 
            h1.tizer__title 
                p ПОСТРОЙТЕ СВОЕ 
                p БУДУЩЕЕ 
                p В «РЭНЕРА»
            .tizer__video
                .tizer__icon
                .tizer__video-start Смотреть видео
    .tizer__right
        //- #video1
        video(src="../../../assets/video/Renera_mntg_V24.mp4")
        img(src="../../../assets/images/tizer.png" alt="tizer")