.whatdoesitdo
    padding: 169px 1em 189px
    background-image: url("../../../assets/images/kaliningrad.jpg")
    background-repeat: no-repeat
    color: #fff
    display: grid
    place-items: center
    @media (width < 1024px)
        background-image: none
        color: #000

    &__container
        width: min(1450px,100vw)
        display: grid
        grid-template-columns: repeat(2,50%)
        @media (width < 1024px)
            grid-template-columns: 100%

    &__title
        font-family: 'TT Firs Neue', sans-serif
        font-weight: 600
        font-size: clamp(22px,22/1024*100vw,50px)
        line-height: 112%
        letter-spacing: 0.02em

    &__right
        padding-top: 136px
        @media (width < 1024px)
            padding-top: 30px
        & img
            display: none
            @media (width < 1024px)
                display: block

    &__block
        padding: 5.3vh 0 9.3vh
        border-top: 1px solid #fff
        display: flex
        flex-direction: column
        row-gap: 15px
        @media (width < 1024px)
            border-top: 1px solid #000
            align-items: flex-start
            padding: 15px 0 50px

    &__video
        display: none
        flex-direction: column
        row-gap: 25px
        @media (width < 1024px)
            display: flex
        & > .whatdoesitdo__title
            padding-left: 1em
