.whatdoesitdo
    .whatdoesitdo__youtube#video2
    .whatdoesitdo__container
        .whatdoesitdo__left
            h2.whatdoesitdo__title 
                p ЧЕМ ЗАНИМАЕТСЯ
                p «РЭНЕРА»
        .whatdoesitdo__right
            .whatdoesitdo__block 
                .whatdoesitdo__text
                    p Разработка и производство тяговых батарей на 
                    p литий-ионных аккумляторах для электротранспорта
                img(src="../../../assets/images/car.jpg")
            .whatdoesitdo__block
                .whatdoesitdo__text
                    p Производство стационарных систем накопления 
                    p энергии для энергетики (СНЭ) и источников 
                    p бесперебойного питания (ИБП) на литий-ионных 
                    p накопителях энергии
                img(src="../../../assets/images/men-in-blue.jpg")

.whatdoesitdo__video 
    .whatdoesitdo__title ВИДЕО О КОМПАНИИ «РЭНЕРА»
    .whatdoesitdo__youtube1#video3