.staff 
    .staff__wrap
        .staff__container 
            h2.staff__title 
                p Запишитесь в базу перспективных 
                p сотрудников компании
            .staff__text 
                p и получите возможность присоединиться к команде новой 
                p гигафабрики после окончания учебы
            .staff__controls 
                .staff__button 8 499 949 4400  доб 4440
                .staff__button renera@rosatom.ru
