.staff 
    .staff__wrap
        .staff__container 
            h2.staff__title 
                p Запишитесь в базу перспективных 
                p сотрудников компании
            .staff__text 
                p и получите возможность присоединиться к команде новой 
                p гигафабрики после окончания учебы
            .staff__controls 
                a.staff__button(href="tel:/84999494400") 8 499 949 4400  доб 4440
                a.staff__button(href="mailto:/cv.renera@rosatom.ru") cv.renera@rosatom.ru
