.career-banner
    .career-banner__caption 
        h2 КАРЬЕРА
        div 
            p Быстрые темпы развития и высокие
            p результаты по развитию деятельности – это
            p результат и вклад всех сотрудников компании.
            p Ваш успех – успех РЭНЕРА.