.disciplines
    max-width: 1450px
    margin: 0px auto 132px

    &__title
        @extend .reliabilityGuarantees__title
        padding-right: 33px

    &__list
        display: flex
        flex-direction: column
        row-gap: 30px
        & > li
            list-style: disc

    &__programm
        display: flex
        align-items: center
        column-gap: 15px
