include ../../components/accordion/accordion.pug
.disciplines
    .disciplines__container
        h2.disciplines__title Выбирайте востребованные дисциплины в учебных заведениях-партнерах «РЭНЕРА»:
        +accordion("БФУ (Балтийский федеральный университет имени И.Канта)")
            ul.disciplines__list 
                li 
                    p Химия, бакалавриат, срок обучения 4 года
                li  
                    p Химическая экспертиза, Магистратура, срок обучения 2 года
                    p.disciplines__programm
                        a(href="#") К программе 
                        img(src="../../../assets/svg/arrow-right.svg")
                li 
                    p Химия, Технология аналитического контроля химических соединений, бакалавриат, срок обучения 2 года 10 месяцев
                    p.disciplines__programm
                        a(href="#") К программе 
                        img(src="../../../assets/svg/arrow-right.svg")
        +accordion("Технологический колледж, г.Советск")
            ul.disciplines__list 
                li
                    p Электромонтер по ремонту и обслуживанию электрооборудования
                li
                    p Монтаж, наладка и эксплуатация электрообрудования промышленных зданий 

        +accordion("Гусевский политехнический техникум")
            ul.disciplines__list 
                li 
                    p Станочник
                li 
                    p Оператор станков с программным управлением
                li 
                    p Монтажник радиоэлектронной аппаратуры и приборов
                li 
                    p Наладчик аппаратного и программного обеспечения
                li 
                    p Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)
                li 
                    p Срок обучения:  3 года 10 месяцев

        +accordion("Прибалтийский судостроительный техникум")
            ul.disciplines__list 
                li
                    p Станочник
                li
                    p Оператор станков с программным управлением
                li
                    p Техническая эксплуатация и обслуживание электрического и электромеханического оборудования
                li
                    p Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)

        a.disciplines__button(href="#") 
            img(src="../../../assets/svg/booklet.svg")
            span Скачать буклет