.accept
    background-image: url("../../../assets/images/accept.jpg")
    background-repeat: no-repeat
    color: #fff
    display: grid
    place-items: center
    padding: 75px 1em 72px

    &__wrap
        width: min(1552px, 100vw)

    &__container
        width: min(1252px, 100vw)
        display: flex
        flex-direction: column
        align-items: center

    &__title
        font-weight: 400
        font-size: clamp(16px,28/1024*100vw,28px)
        line-height: 160%
        margin-bottom: 46px

    &__list
        // display: flex
        // flex-direction: column
        // row-gap: 25px
        columns: 2

    &__list-item
        display: flex
        align-items: flex-start
        column-gap: 0.78125vw

    &__list-id
        font-weight: 400
        font-size: clamp(12px,18/1024*100vw,18px)
        line-height: 182%
        color: rgba(255, 255, 255, 0.8)
        opacity: 0.8

    &__list-name
        font-weight: 400
        font-size: clamp(14px,24/1024*100vw,24px)
        line-height: 151%

    &__button
        font-weight: 600
        font-size: 22px
        line-height: 34px
        text-transform: uppercase
        color: #0A64A3
        display: flex
        flex-direction: row
        align-items: flex-start
        padding: 27px 72px
        gap: 10px
        background: #FFFFFF
        border-radius: 50px
        border: none
        margin-top: 60px
