.stabilityScale
    .stabilityScale__content 
        h2.stabilityScale__title 
            p СТАБИЛЬНОСТЬ
            p.stabilityScale__title-shift  И МАСШТАБ
        ul.stabilityScale__data 
            each i in stabilityScale
                li.stabilityScale__data-item
                    .stabilityScale__data-title= i.title
                    .stabilityScale__data-text= i.text

        a.stabilityScale__button(href="#") Где учиться
