.create
    .create__container
        h2 
            p ПОСТРОЙТЕ
            p.create__shift КАРЬЕРУ В РЭНЕРА
        p Напишите нам и приложите свое резюме для работы в: 
        .create__grid 
            .create__grid.create__grid--inner 
                p Управляющей компании города Москва
                button.create__button Подать заявку
            .create__grid.create__grid--inner.create__last 
                p Производственном активе РЭНЕРА
                a.create__button(href="#") Перейти к вакансии