.next-page
    .next-page__container
        ul.next-page__list
            li Следующая страница
        .next-page__footer
            .next-page__contacts Контакты
            a.next-page__go(href="#") Перейти