.reliabilityGuarantees
    .reliabilityGuarantees__container
        h2.reliabilityGuarantees__title НАДЕЖНОСТЬ И ГАРАНТИИ
        ul.reliabilityGuarantees__list
            each i in reliabilityGuarantees
                li= i