.goal
    padding: 120px 1em 143px
    display: flex
    flex-direction: column
    align-items: stretch
    @media (width < 1024px)
        padding: 80px 1em 80px

    &__wrap
        width: min(1450px, (100vw - 2em))

    &__container
        width: min(729px, (100vw - 2em))

    &__title
        margin-bottom: 34px
        font-family: 'TT Firs Neue'
        font-style: normal
        font-weight: 600
        font-size: clamp(22px,50/1024*100vw,50px)
        line-height: 112%
        letter-spacing: 0.02em
        color: #1E1E1E

        & > p:nth-child(2)
            padding-left: 2em
