.goal 
    .goal__wrap
        .goal__container 
            h2.goal__title
                p Наша главная
                p ценность - это люди
            .goal__text
                p Сотрудники компании РЭНЕРА являются профессионалами
                p в области систем накопления электроэнергии с большой
                p экспертизой.
