extends ../pug/templates/template.pug
block main 
    .career
        header.header
        include ../career-articles/modal-form/modal-form.pug
        include ../career-articles/career-banner/career-banner.pug
        include ../career-articles/news/news.pug
        include ../career-articles/stabilityScale/stabilityScale.pug
        include ../career-articles/jobis/jobis.pug
        include ../career-articles/create/create.pug
        //- include ../articles/reliabilityGuarantees/reliabilityGuarantees.pug
        //- include ../articles/disciplines/disciplines.pug
        //- include ../articles/staff/staff.pug
        //- include ../articles/accept/accept.pug
        //- include ../articles/open/open.pug
        //- include ../articles/whatdoesitdo/whatdoesitdo.pug
        //- include ../articles/goal/goal.pug
        //- include ../articles/nextPage/nextPage.pug
