extends ../pug/templates/template.pug
block main 
    header.header
    include ../articles/tizer/tizer.pug
    include ../articles/news/news.pug
    include ../articles/stabilityScale/stabilityScale.pug
    include ../articles/reliabilityGuarantees/reliabilityGuarantees.pug
    include ../articles/disciplines/disciplines.pug
    include ../articles/staff/staff.pug
    include ../articles/accept/accept.pug
