include ../../components/breadcrumbs/breadcrumbs.pug
.news 
    .news__content
        .news__left
            .news__panel.news__panel--white
                .news__breadcrumbs
                    +breadcrumbs("hhh","kkk","lll")
                h3.news__title Новые рабочие места на новой гигафабрике
                .news__text Компания «РЭНЕРА» – лидер активно растущего рынка накопителей энергии в России, организация входит в структуру Госкорпорации «Росатом». «РЭНЕРА» - это самая быстроразвивающаяся компания-производитель с собственными производственными площадками и научно-техническими центрами разработки технологий (R&D). За последние 2 года компания выросла в 5 раз.

        .news__right
            .news__panel 
                p
                    b В 2025 году компания открывает новую первую в России «Калининградскую» гигафабрику по производству
                p литий-ионных накопителей энергии (Калининградская область, округ г.Неман) и с 2023 года начинает набор на более, чем 900 новых рабочих мест от менеджерского состава до специалистов на производстве.
                p Главный офис компании находится в г.Москва в ОЭЗ «Технополис».
    .news__controls
        a.news__control(href="#") 
            p Где учиться
        a.news__control(href="#") 
            p К списку дисциплин