include ../../components/breadcrumbs/breadcrumbs.pug
.news 
    .news__content
        .news__left
            .news__panel.news__panel--white
                .news__breadcrumbs
                    +breadcrumbs({href:"/", text:"Главная"},{href:"#",text:"Карьера"})
                h3.news__title РАБОЧИЕ МЕСТА НА НОВОЙ ГИГАФАБРИКЕ
                .news__text Интегратор Росатома по системам накопления энергии ООО «РЭНЕРА» открывает набор сотрудников на производство литий-ионных аккумуляторных батарей в г. Неман Калининградской области. В 2025 году здесь построят гигафабрику, куда смогут трудоустроиться около тысячи специалистов. В приоритете компании привлечение сотрудников из числа местных жителей Калининградской области. Производству потребуются технологи, слесари-электромонтажники, сборщики, упаковщики, лаборанты, испытатели источников тока, специалисты по качеству, менеджерский состав, юристы и многие другие.
                .news__controls 
                    a.news__button(href="#") Где учиться
                    a.news__button.news__button--white(href="#") Все вакансии завода
        .news__right
            .news__panel 
                p
                    b В 2025 году откроется первая в России гигафабрика в Калининградской области
                p На сегодняшний день аналогов такому производству в нашей стране нет. Мы первыми начнём серийно производить тяговые батареи для электротранспорта и системы накопления энергии для стационарных систем. Литий-ионные аккумуляторы – технология, активно развивающаяся во всем мире. Присоединившись к нашей команде, вы приобретете востребованный и актуальный опыт в инновационной сфере будущего.
                .news__controls 
                    a.news__button(href="#") Где учиться
                    a.news__button.news__button--white(href="#") Все вакансии завода
    //- .news__controls
    //-     a.news__control(href="#") 
    //-         p Где учиться
    //-     a.news__control(href="#") 
    //-         p К списку дисциплин