.open 
    .open__wrap
        .open__container 
            h2.open__title 
                p НАБОР ОТКРЫТ И ДЛЯ ГОТОВЫХ
                p СПЕЦИАЛИСТОВ!
            a.open__ref(href="#") Прием заявок в базу перспективных сотрудников осуществляется с 03.2023г.
            ul.open__list 
                each i in open 
                    li.open__list-item= i
            .open__controls 
                a.open__button(href="tel:/84999494400") 8 499 949 4400  доб 4440
                a.open__button(href="mailto:/cv.renera@rosatom.ru") cv.renera@rosatom.ru